sql.php
ssl/
*.htaccess
_notes/
testeckl.php
testeckl2.php
testeckl2.php
testeckl3.php
testeckl4.php
testeckl5.php
testeckl6.php
testeckl7.php
testeckl3
testehttp.php
testeMail.php
vazio.php
vazio2.php
*.gitignore
testeAlimentaCorreios.php
testeCorreios2.php
testeCorreios3.php
teste.php
teste1.php
teste3.php
teste4.php
import.php
assets/temp
bkpWhats/
EnvioIntegracaoMix.txt
Envio.txt
Recebimento.txt
temp/
tempFinanceiro/
tempCorreios/
configCor.php
sqlCor.php
Polyline.php
testeCor.php
InternetLogs.txt
integrador
integradorautotrac
integradorautotraccsv.csv
